@import "tailwindcss";

@theme {
  --color-brand-green:     #2E7D32;
  --color-brand-green-dk:  #1B5E20;
  --color-brand-green-lt:  #F1F8E9;
  --color-brand-orange:    #E65100;
  --color-brand-orange-lt: #FFE0B2;
  --color-brand-purple:    #6A1B9A;
  --color-brand-blue:      #01579B;
  --color-brand-border:    #C8E6C9;
}

* {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
